* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Pr', sans-serif;
}

body {
    background: #1E252B;
}

.container {
    max-width: 1248px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

