.brands {
    padding: 200px;
}

.brands__wrap {
    background: url(../img/brandsBG.png) no-repeat;
    height: 254px;
    padding: 56px 82px;
    display: flex;
    gap: 56px;
    flex-direction: column;
    align-items: center;
    opacity: 70%;
    transition: 0.3s linear all
}

.brands__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.brands__images{
    display: flex;
    gap: 108px;
}

.brands__wrap:hover{
    transform: translateY(-20px);
    opacity: 100%;
}