.footer__desc__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__desc__title-text {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

.footer__desc {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.footer__desc__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(255, 255, 255, 90%);
}

.footer__desc__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: rgb(255, 255, 255, 55%);
    width: 260px;
}

.footer {
    padding: 70px 0;
    border-top: 1px solid rgb(255, 255, 255, 15%);
}

.footer__nav {
    display: flex;
    gap: 116px;
}

.footer__nav-item__text {
    font-family: 'Pr';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(255, 255, 255, 55%);
    transition: 0.3s all linear;
}

.footer__nav-item__text:hover{
    color: #FF6E30;
    transform: translateY(-5px);
}

.footer__nav__title {
    color: rgba(255, 255, 255, 90%);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.footer__wrap{
    display: flex;
    gap: 156px;
}

.footer__nav-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__nav li{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

